.h111 {
    font-size: 25px;
}

.safd {
    display: flex;
    background-color: rgb(255, 16, 16);
    justify-content: center;

align-items: center;
}

.divd {
    display: flex;
    background-color: whitesmoke;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.ull {
    display: flex;
    align-items: center;
margin-bottom: 0;
}

.ull li {
    list-style-type: none;
    padding: 10px;
    margin-left: 30px;
}

.ull button {
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    border: none;
    color: white;
    margin-left: 10px;
}

.ull input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.butvt {
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
     margin-left: 10px;
     text-decoration: none;
}

.dada {
    display: flex;
align-items: center;
}

.dada input {
    display: flex;
    height: 30px;
    width: 175px;
    align-items: center;
}
.aa{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}