
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h111 {
    font-size: 25px;
}

.safd {
    display: flex;
    background-color: rgb(255, 16, 16);
    justify-content: center;

align-items: center;
}

.divd {
    display: flex;
    background-color: whitesmoke;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.ull {
    display: flex;
    align-items: center;
margin-bottom: 0;
}

.ull li {
    list-style-type: none;
    padding: 10px;
    margin-left: 30px;
}

.ull button {
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    border: none;
    color: white;
    margin-left: 10px;
}

.ull input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}



.dada {
    display: flex;
align-items: center;
}

.dada input {
    display: flex;
    height: 30px;
    width: 175px;
    align-items: center;
}

.form-container {
    width: 400px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.awf {
    display: flex;
    background-color: red;
    justify-content: space-around;
    color: white;
}

.asd {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.asd p {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.user-link {
    text-decoration: none;
    color: inherit;
}

.cart-link {
    text-decoration: none;
    color: inherit;
}

.product {
    display: none;
}


.show-product {
    display: block;
}

.ayya {
    margin-bottom: 200px;
}
.divpiv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

  .carousel-inner {
    max-height: 500px;
  }

  .carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .aa{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
