
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.h111 {
font-size: 25px;
}

.safd {
display: flex;
background-color: rgb(255, 16, 16);
justify-content: center;

}
.divd {
display: flex;
background-color: whitesmoke;
height: 100px;
justify-content: space-around;
}

.ull {
display: flex;

}

.ull li {
list-style-type: none;
padding: 10px;
margin-left: 30px;
}

.ull button {
background-color: red;
justify-content: center;
align-items: center;
height: 40px;
width: 60px;
border: none;
color: white;
margin-top: 10px;
}

.ull input {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.awf{
display: flex;
background-color: red;
justify-content: space-around;
color: white;
}

.imageg{
height: 394px;
width: 598px;

}
.sadasda{
text-decoration: line-through;
display: flex;
}
.sasasd{
color: red;
display: flex;
}
.juj{
display: flex;
justify-content: space-between;
}
.aa{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}